/* HEADER */
.header {
  padding: 3rem  0rem 1.5rem 0rem;
}

.header .header-info {
  width: 90%;
  margin: auto;
}
/* END OF HEADER */

/* CREDIT SIMULATE */
.main .credit-simulate .btns button {
  width: 40%;
  margin: 0.5rem;
}

.main .credit-simulate .btns button i {
  font-size: 0.5rem;
}
/* END OF CREDIT SIMULATE */

/* CREDIT PYME */
.main .credit-pyme-mobile-tablet .accordion img {
  width: 3.3rem;
}

.nav-item button:hover {
  color: unset;
}
/* END OF CREDIT PYME */

/* CREDIT REQUIREMENTS */
.fs-p {
  font-size: 0.9rem;
}
/* END OF CREDIT REQUIREMENTS */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* HEADER */
  .header-info h2, .header-info p {
    width: 70%;
    margin: auto;
  }

  .header-info h2 {
    font-size: 2.5rem;
  }
  /* END OF HEADER */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* HEADER */
  .header {
    margin-top: 3rem;
  }

  .header-info h2, .header-info p {
    width: 90%;
    margin: unset;
  }

  .header iframe {
    width: 100%;
  }
  /* END OF HEADER */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
