/* GENERAL STYLES FOR THIS PAGE */
.btn-create {
  width: 50%;
}
/* END OF GENERAL STYLES FOR THIS PAGE */

/* CHARACTERISTICS */
main .characteristics .info .img-characteristics {
  width: 2rem;
}

main .characteristics .img-business-card {
  width: 100%;
}
/* END OF CHARACTERISTICS */

/* BENEFITS */
main .benefits-mobile-tablet .accordion img {
  width: 3rem;
}
/* END OF BENEFITS */

/* PROMOTIONS */
main .promotions .swiper-promotions .swiper-slide img {
  height: 180px;
}
/* END OF PROMOTIONS */

/* INTERESTS COMMISSIONS QUESTIONS */
.interests-commissions-questions .accordion-item img {
  width: 3.5rem;
}

.interests-commissions-questions .table-row {
  background-color: transparent;
}

.interests-commissions-questions .table-row div, .interests-commissions-questions .table-header div {
  padding: 1rem;
}
/* END OF INTERESTS COMMISSIONS QUESTIONS */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* INTERESTS COMMISSIONS QUESTIONS */
  .interests-commissions-questions .table-row {
    background-color: #F5F5F5;
    font-size: 0.6rem;
  }
  /* END OF INTERESTS COMMISSIONS QUESTIONS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* GENERAL STYLES FOR THIS PAGE */
  .btn-create-2 {
    width: 27.5%;
  }
  /* END OF GENERAL STYLES FOR THIS PAGE */

  /* ---------- HEADER  ---------- */
  .header-3 .line {
    position: absolute;
    width: 125%;
    top: -5%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-right: -2.5rem;
  }
  /* ---------- END OF HEADER  ---------- */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ---------- HEADER  ---------- */
  .header-3 .line {
    top: -20%;
    width: 150%;
    margin-right: -6rem;
  }
  /* ---------- END OF HEADER  ---------- */

  /* CHARACTERISTICS */
  main .characteristics .img-business-card {
    width: 70%;
  }
  /* END OF CHARACTERISTICS */

  /* GENERAL STYLES FOR THIS PAGE */
  .btn-create {
    width: 40%;
  }

  .btn-create-2 {
    width: 20%;
  }
  /* END OF GENERAL STYLES FOR THIS PAGE */

  /* INTERESTS COMMISSIONS QUESTIONS */
  .interests-commissions-questions .table-row {
    font-size: 1rem;
  }
  /* END OF INTERESTS COMMISSIONS QUESTIONS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }