/* GENERAL STYLES FOR THIS PAGE */
.btn-create {
  width: 50%;
}
/* END OF GENERAL STYLES FOR THIS PAGE */

/* HEADER */
.header .video {
  position: relative;
}

.header .video .bg-img {
  border-radius: 50%;
}

.header .video .player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  z-index: 1;
}

.header .row-video .konfio-text {
  width: 75%;
}

.header .card {
  background-color: transparent; 
  border: none;
}

.header .row-video {
  position: relative;
}

.header .line {
  position: absolute; 
  width: 100%;
  top: 0%;
  bottom: 0%; 
  left: 0%; 
  right: 0%; 
  margin: auto;
}
/* END OF HEADER */

/* CHARACTERISTICS */
.main .characteristics .business-card-img {
  margin-top: 1rem;
}

.main .characteristics .info .img-characteristics {
  width: 2rem;
}
/* END OF CHARACTERISTICS */

/* BENEFITS */
.main .benefits-mobile-tablet .accordion img {
  width: 3rem;
}

.nav-item button:hover {
  color: unset;
}
/* END OF BENEFITS */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* HEADER */
  .header .row-video .konfio-text {
    width: 50%;
    padding-bottom: 2rem;
  }

  .header .header-info p, .header .header-info h2 {
    margin-top: 2rem;
  }

  .header .header-info h2 {
    font-size: 2.5rem;
  }

  .header .line {
    width: 100%;
  }
  /* END OF HEADER */

  /* CHARACTERISTICS */
  .main .characteristics .info img {
    width: 40%;
  }
  /* END OF CHARACTERISTICS */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* HEADER */
  .header .header-info {
    margin-top: 3rem;
  }

  .header .header-info h2 {
    width: 85%;
  }
  
  .header .line {
    top: -25%;
    width: 150%;
    margin-right: -6.5rem;
  }
  /* END OF HEADER */

  /* GENERAL STYLES FOR THIS PAGE */
  .btn-create {
    width: 40%;
  }
  /* END OF GENERAL STYLES FOR THIS PAGE */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }