/* ---------- OUR SEARCH ENGINE ---------- */
.our-search-engine h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.swiper-our-search-engine .card-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.swiper-our-search-engine .card {
  min-height: 12rem;
}

.swiper-our-search-engine .card .card-title {
  font-size: 1.2rem;
}
/* ---------- END OF OUR SEARCH ENGINE ---------- */

/* ---------- EFOS AND EDOS ---------- */
.efos-and-edos {
  font-size: small;
}

.efos-and-edos .tab-pane-title {
  font-size: 1.1rem;
}

.efos-and-edos .tab-pane-img {
  width: 100%;
}

.efos-and-edos .extra-info div {
  margin-top: 1rem;
}
/* ---------- END OF EFOS AND EDOS ---------- */

/* ---------- SAT BLACKLIST ---------- */
.sat-blacklist {
  font-size: 1.1rem;
}

.sat-blacklist .info-1 h2 {
  font-size: 1.8rem;
}

.sat-blacklist .info-1 h2, .sat-blacklist .info-2 h3 {
  margin-bottom: 1rem;
}

.sat-blacklist p {
  text-align: justify;
}

.sat-blacklist .sanctions img {
  width: 100%;
  margin-bottom: 1rem;
}
/* ---------- END OF SAT BLACKLIST ---------- */

/* ---------- OUR FORM ---------- */
.our-form h2 {
  font-size: 1rem;
  margin-bottom: 2rem;
}
/* ---------- END OF OUR FORM ---------- */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* ---------- OUR SEARCH ENGINE ---------- */
  .our-search-engine h3 {
    font-size: 1.9rem;
  }

  .swiper-our-search-engine .card {
    min-height: 10rem;
  }

  .swiper-our-search-engine .card .card-title {
    font-size: 1.5rem;
  }
  /* ---------- END OF OUR SEARCH ENGINE ---------- */

  /* ---------- EFOS AND EDOS ---------- */
  .efos-and-edos {
    font-size: medium;
  }
  /* ---------- END OF EFOS AND EDOS ---------- */

  /* ---------- SAT BLACKLIST ---------- */
  .sat-blacklist .info-1 h2 {
    font-size: 2.3rem;
  }

  .sat-blacklist h2, .sat-blacklist h3, .sat-blacklist .info-2 {
    margin-bottom: 1.5rem;
  }

  .sat-blacklist .info-1 {
    font-size: 1.250rem;
  }

  .sat-blacklist .sanctions .list {
    font-size: 0.9rem;
  }
  /* ---------- END OF SAT BLACKLIST ---------- */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ---------- OUR SEARCH ENGINE ---------- */
  .swiper-our-search-engine .card {
    min-height: 12rem;
  }
  /* ---------- END OF OUR SEARCH ENGINE ---------- */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ---------- OUR SEARCH ENGINE ---------- */
  .our-search-engine h3 {
    font-size: 1.7rem;
  }

  .swiper-our-search-engine .card {
    min-height: 10rem;
  }

  .swiper-our-search-engine .card .card-title {
    font-size: 1.3rem;
  }
  /* ---------- END OF OUR SEARCH ENGINE ---------- */

  /* ---------- SAT BLACKLIST ---------- */
  .sat-blacklist .info-1 h2 {
    font-size: 2.2rem;
  }

  .sat-blacklist .info-1 {
    font-size: 1.1rem;
  }

  .sat-blacklist .info-2 {
    font-size: 1rem;
  }
  /* ---------- END OF SAT BLACKLIST ---------- */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }