/* DELETE LIMITS */
.swiper-delete-limits .card-body {
  padding: 0rem;
}

.swiper-delete-limits .img-konfio {
  width: 6rem;
}

.delete-limits .btn-create {
  padding: 0.8rem;
  width: 100%;
}

.padding-top {
  padding-top: 1rem;
}
/* END OF DELETE LIMITS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* DELETE LIMITS */
  .padding-top {
    padding-top: 2rem;
  }
/* END OF DELETE LIMITS */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}