/* DELETE LIMITS */
.swiper-delete-limits .card-body {
  padding: 0rem;
}

.swiper-delete-limits .img-konfio {
  width: 6rem;
}

.delete-limits .btn-create {
  padding: 0.8rem;
  width: 100%;
}

.padding-top {
  padding-top: 1rem;
}
/* END OF DELETE LIMITS */

/* PLANS */
.plans .btn-create {
  width: 100%;
  padding: 0.8rem;
}

.swiper-plans2 .price {
  font-size: 2rem;
}
/* END OF PLANS */

/* SOLUTIONS */
.solutions .description {
  margin: 1.5rem auto;
}
/* END OF SOLUTIONS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* DELETE LIMITS */
  .padding-top {
    padding-top: 2rem;
  }
  /* END OF DELETE LIMITS */

  /* PLANS */
  .swiper-plans2 .card {
    min-height: 50rem;
  }
  /* END OF PLANS */

  /* SOLUTIONS */
  .swiper-solutions .card {
    min-height: 24rem;
  }

  .solutions .description {
    margin: 2rem auto;
  }
  /* END OF SOLUTIONS */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* SOLUTIONS */
  .solutions .description {
    margin: 2.5rem auto;
  }
  /* END OF SOLUTIONS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}