/* PLANS */
.plans .plan-img {
  width: 35%;
}

.plans .card {
  min-height: 25rem;
}
/* END OF PLANS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ERP BENEFITS */
  .erp-benefits .btn-create {
    width: 90%;
    padding: 0.8rem;
  }

  .erp-benefits .swiper-erp-benefits h3 {
    font-size: 2rem;
  }
  /* END OF ERP BENEFITS */

  /* PLANS */
  .plans .card {
    min-height: 27.5rem;
  }

  .plans .btn-create {
    width: 50%;
    padding: 0.7rem;
    margin: 2.5rem auto auto auto;
  }
  /* END OF PLANS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* PLANS */
  .plans .plan-img {
    width: 60%;
  }

  .plans .card {
    min-height: 30rem;
  }

  .plans .btn-create {
    width: 38%;
  }
  /* END OF PLANS */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* PLANS */
  .plans .plan-img {
    width: 35%;
    min-height: 7.5rem;
  }

  .plans .card {
    min-height: 26rem;
  }

  .plans .btn-create {
    width: 27%;
    padding: 0.6rem;
  }
  /* END OF PLANS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }