* {
  margin: 0%;
  padding: 0%;
}

/* NAV */
.nav-link {
  border: 0px solid transparent !important;
}

.nav-item-li {
  border-bottom: 3px solid #6e43b7 !important;
}

.nav-link-fs {
  font-size: 0.8rem;
}

.hidden-navbar-mobile-tablet {
  display: block;
}

.hidden-navbar-laptop {
  display: none;
}


/* END OF NAV */

/* HEADER */
.header {
  margin-top: 1.2rem;
}
/* END OF HEADER */

/* COLORS */
.color-purple {
  color: rgba(110,67,183, 1);
}

.color-purple:hover {
  color: rgb(75, 47, 124);
}

.color-black {
  color: #222;
}

.color-black:hover {
  color: rgb(92, 92, 92);
}

.hover-purple:hover {
  color: rgb(75, 47, 124);
}
/* END OF COLORS */

/* BG COLORS */
.bg-purple {
  background-color: rgba(110,67,183, 1);
}

.bg-gray {
  background-color: #424242;
}
/* END OF BG COLORS */

/* CONFIG LINK */
.config-link {
  text-decoration: none;
}

.custom-nav-link {
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
/* END OF CONFIG LINK */

/* MAIN */
.main {
  margin-top: 22rem;
}
/* END OF MAIN */

/* KONFIO LOGO */
.konfio-logo {
  width: 20%;
}

.konfio-logo-2 {
  width: 40%;
}

.konfio-logo-laptop {
  width: 10%;
}
/* END OF KONFIO LOGO */

/* STYLES OF SWIPER */
.swiper {
  height: 300px;
}

.swiper2 {
  height: 450px;
}

.swiper-pagination-bullet {
  background-color: #6e43b7;
  width: 0.8rem;
  height: 0.8rem;
}

.swiper-img {
  width: 85px;
  height: 85px;
}

.card-body {
  height: 250px;
}

.card-header-video {
  padding: 0%; 
  border-bottom: none;
}

.video-border {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
/* END OF STYLES OF SWIPER */

/* FOOTER */
.footer {
  margin-bottom: 15%;
}

.element-width-footer {
  width: 90%;
}

.element-width-footer-2 {
  width: 75%;
}

.img-width {
  width: 15%;
}

.terms {
  margin: auto;
}
/* END OF FOOTER */

.title {
  font-size: 1.5rem;
}

.circle-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6e43b7;
  border-radius: 50%;
}

.circle-item-2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.brightness-90:hover {
  filter: brightness(90%);
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-purple {
  background-color: #6e43b7;
  color: #ffffff;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 80%;
}

.container-btn-purple {
  width: 100%;
  background-color: #ffffff; 
  display: flex; 
  justify-content: center; 
  padding: 1rem;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  z-index: 1000;
}

.hidden {
  display: none;
}

.title-container {
  height: 125px;
}

.btn-purple-border {
  border: 1px solid rgba(110,67,183, 1);
}

.btn-purple-border:hover {
  background-color: lightgray;
}

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* MAIN */
  .main {
    margin-top: 30rem;
  }
  /* END OF MAIN */

  /* FOOTER */
  .footer .sub-footer div {
    width: 100%;
    margin: 0.5rem;
  }

  .element-width-footer-2 {
    width: 100%;
  }

  .img-width {
    width: 100%;
  }

  .terms {
    margin: 8rem auto auto auto;
  }
  /* END OF FOOTER */

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* MAIN */
  .main {
    margin-top: 48rem;
  }
  /* END OF MAIN */

  /* NAVBAR */
  .hidden-navbar-mobile-tablet {
    display: none;
  }

  .hidden-navbar-laptop {
    display: block;
  }
  /* END OF NAVBAR */

  /* HEADER */
  .header {
    margin-top: 3rem;
  }
  /* END OF HEADER */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
