* {
  margin: 0%;
  padding: 0%;
}

/* ---------- COLORS ---------- */
.color-purple {
  color: rgba(110,67,183, 1) !important;
}

.color-purple-2 {
  color: rgb(113, 114, 187);
}

.color-green {
  color: #58c179;
}

.color-black {
  color: #222;
}

.color-blue {
  color: rgba(59,130,246,0.5);
}

.color-gray {
  color: #bdbdbd;
}

.color-dark-yellow {
  color: #a7600d;
}

.color-black:hover {
  color: rgb(92, 92, 92);
}

.hover-purple:hover {
  color: rgb(75, 47, 124) !important;
}

.hover-purple-2:hover {
  color: rgba(110,67,183, 1);
}

.hover-white:hover {
  color: #fff;
}
/* ---------- END OF COLORS ---------- */

/* ---------- BG COLORS ---------- */
.bg-purple {
  background-color: rgba(110,67,183, 1);
}

.bg-purple-2 {
  background-color: rgb(113, 114, 187);
}

.bg-gray {
  background-color: #424242;
}

.bg-gray-2 {
  background-color: #eee8f6;
}

.bg-gray-2:hover {
  background-color: rgba(113,114,187);
  color: #fff;
}

.bg-gray-3 {
  background-color: #fbfbff;
}

.bg-gray-4 {
  background-color: #f5f5f5;
}

.bg-gray-5 {
  background-color: #eee8f6;
}

.bg-light-1 {
  background-color: #e4eaf0 !important;
}

.bg-blue-top {
  background-image: linear-gradient(180deg,rgba(204,212,228,.3) -4%,#fff 102%);
}

.bg-blue-bottom {
  background-image: linear-gradient(0deg,rgba(138, 159, 197, 0.3) -4%,#fff 102%);
}

.bg-blue-center {
  background-image: linear-gradient(180deg,rgba(204,212,228,.3),#fff 50%,rgba(204,212,228,.3));
}
/* ---------- END OF BG COLORS ---------- */

/* ---------- CONFIG LINK ---------- */
.config-link {
  text-decoration: none;
}

.hover-underline:hover {
  text-decoration: underline;
}
/* ---------- END OF CONFIG LINK ---------- */

/* ---------- NAVBAR ---------- */
.navbar .navbar-nav .nav-item .nav-link {
  color: #222;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgb(92, 92, 92);
}
/* ---------- END OF NAVBAR ---------- */

/* ---------- KONFIO LOGO ---------- */
.konfio-logo {
  width: 20%;
}

.konfio-logo-2 {
  width: 40%;
}
/* ---------- END OF KONFIO LOGO ---------- */

/* ---------- STYLES OF SWIPER ---------- */
.swiper-pagination-bullet {
  background-color: #6e43b7;
  width: 0.8rem;
  height: 0.8rem;
}

.swiper-img {
  width: 85px;
  height: 85px;
}

.card-body-height {
  height: 100%;
}

.card-body-height-2 {
  height: 250px;
}

.card-header-video {
  padding: 0%; 
  margin: 0%;
  border-bottom: none;
}

.card-header-video iframe {
  width: 100%;
  height: 100%;
}
/* ---------- END OF STYLES OF SWIPER ---------- */

/* ---------- SWIPER 1 ---------- */
.my-section-1 .description {
  margin: 1.5rem auto;
}

.swiper-1 .card {
  min-height: 15rem;
}

.swiper-1 .card-img {
  width: 4.3rem
}

.swiper-1 .card-body h5 {
  font-size: 1rem;
}

.swiper-1 .card-body {
  font-size: 0.9rem;
}
/* ---------- END OF SWIPER 1 ---------- */

/* ---------- CREDIT SIMULATOR ---------- */
.credit-simulator .btns button {
  width: 100%;
  font-size: .75rem;
}

.credit-simulator .btns button i {
  font-size: 0.5rem;
}
/* ---------- END OF CREDIT SIMULATOR ---------- */

/* ---------- BORDERS ---------- */
.border-customization {
  border: 2px solid rgba(238, 238, 238, 1) !important;
  /* border: 1px solid lightgray !important; */
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

.borders-radius {
  border-radius: 1rem;
}

.borders-top-radius {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.borders-bottom-radius {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.border-top-left-radius {
  border-top-left-radius: 1rem;
}

.border-top-right-radius {
  border-top-right-radius: 1rem;
}
/* ---------- END OF BORDERS ---------- */

/* ---------- ACCORDION 1 ---------- */
.accordion-1 .accordion-img {
  width: 3.125rem;
}
/* ---------- END OF ACCORDION 1 ---------- */

/* ---------- FORM 1 ---------- */
.form-1 .form-btn {
  width: 100%;
  padding: 0.8rem;
}

.form-1 input, .form-1 select, .form-1 textarea {
  min-height: 3.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
/* ---------- END OF FORM 1 ---------- */

/* ---------- HEADER 1 ---------- */
.header-1 iframe {
  width: 100%;
  height: 11rem;
}

.header-1 h1 {
  font-size: 1.1rem;
}

.header-1 h2 {
  font-size: 1.5rem;
}
/* ---------- END OF HEADER 1 ---------- */

/* ---------- HEADER 2 ---------- */
.header-2 .text-image {
  width: 65%;
}

.header-2 .header-image {
  width: 85%;
}
/* ---------- END OF HEADER 2 ---------- */

/* ---------- HEADER 3 ---------- */
.header-3 .header-btn {
  width: 50%;
}

.header-3 .video, .header-3 .row-video {
  position: relative;
}

.header-3 .video .player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  z-index: 1;
}

.header-3 .video .bg-img {
  border-radius: 50%;
  width: 100%;
  min-height: 12rem;
}

.header-3 .row-video .konfio-text {
  width: 75%;
}

.header-3 .card {
  background-color: transparent; 
  border: none;
}

.header-3 .line, .header-3 .line-2 {
  position: absolute; 
  width: 100%;
  top: -10%;
  bottom: 0%; 
  left: 0%; 
  right: 0%; 
  margin: auto;
}

.header-3 .header-p {
  margin-bottom: 2rem;
}
/* ---------- END OF HEADER 3 ---------- */

/* ---------- FOOTER ---------- */
footer {
  margin-bottom: 15%;
}

footer .direction .social-networks span {
  margin: 1rem 1rem 1rem 0rem;
  width: 30px;
  height: 30px;
  color: gray;
}

footer .sub-footer .direction, footer .sub-footer .konfio-platform {
  margin: 1rem auto auto auto;
}

footer .terms {
  margin: 8rem auto auto auto;
}

footer .footer-img {
  width: 2.2rem;
}
/* ---------- END OF FOOTER ---------- */

.modal-iframe {
  width: 100%;
  height: 300px;
}

.circle-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6e43b7;
  border-radius: 50%;
}

.circle-item-2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.brightness-90:hover {
  filter: brightness(90%);
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-purple {
  background-color: #6e43b7;
  color: #ffffff;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 80%;
}

.container-btn-purple {
  width: 100%;
  background-color: #ffffff; 
  display: flex; 
  justify-content: center; 
  padding: 1rem;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  z-index: 1000;
}

.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.link:active {
  background-color: transparent;
  color: #222;
}

.link:hover {
  color: rgba(110,67,183, 1);
}

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* ---------- SWIPER ---------- */
  .swiper-credit-requirements .card img {
    width: 75%;
    margin: auto;
  }
  /* ---------- END OF SWIPER ---------- */

  /* ---------- SWIPER 1 ---------- */
  .my-section-1 .description {
    margin: 2.5rem auto;
  }

  .swiper-1 .card {
    min-height: 18.5rem;
  }

  .my-section-1 .btn-create {
    width: 32.5%;
    margin: auto;
    padding: 0.7rem;
  }
  /* ---------- END OF SWIPER 1 ---------- */

  /* ---------- HEADER 1 ---------- */
  .header-1 iframe {
    width: 30rem;
    height: 17.5rem;
  }
  
  .header-1 h2 {
    font-size: 2.4rem;
  }
  
  .header-1 p {
    font-size: 1.25rem;
  }
  /* ---------- END OF HEADER 1 ---------- */

  /* ---------- HEADER 2 ---------- */
  .header-2 .text-image {
    width: 35%;
  }
  
  .header-2 .header-image {
    width: 70%;
  }
  
  .header-2 .header-paragraph {
    font-size: 1.2rem;
  }
  /* ---------- END OF HEADER 2 ---------- */

  /* ---------- HEADER 3 ---------- */
  .header-3 .video .bg-img {
    min-height: 17rem;
  }
  
  .header-3 .line, .header-3 .line-2 {
    position: absolute; 
    width: 100%;
    top: -5%;
    bottom: 0%; 
    left: 0%; 
    right: 0%; 
    margin: auto;
  }
  /* ---------- END OF HEADER 3 ---------- */

  /* ---------- FORM 1 ---------- */
  .form-1 .card {
    height: 30rem;
    overflow-y: scroll;
  }

  .form-1 .form-btn {
    width: 50%;
    display: block;
    margin: auto;
  }

  .form-1 h2 {
    margin-bottom: 3rem;
  }
  /* ---------- END OF FORM 1 ---------- */

  /* ---------- FOOTER ---------- */
  footer .terms a {
    margin: 0rem 0.5rem;
  }
  /* ---------- END OF FOOTER ---------- */

  .section-h2 {
    font-size: 1.9rem;
  }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {   
  /* ---------- SWIPER ---------- */
  .swiper-client-results .swiper-wrapper .swiper-slide .card .card-header {
    width: 25%;
  }

  .swiper-client-results .swiper-wrapper .swiper-slide .card .card-body {
    width: 75%;
    padding: 4rem;
  }

  .swiper-credit-requirements .card img {
    width: 50%;
    margin: auto;
  }
  /* ---------- END OF SWIPER ---------- */

  /* ---------- FOOTER ---------- */
  footer {
    margin-bottom: 0%;
  }

  .konfio-logo-2 {
    width: 30%;
  }

  footer .direction p {
    width: 70%;
  }
  /* ---------- END OF FOOTER ---------- */

  /* ---------- HEADER 1 ---------- */
  .header-1 iframe {
    height: 17rem;
  }
  
  .header-1 .btn-create {
    width: 70%;
    padding: 1.2rem;
  }
  /* ---------- END OF HEADER 1 ---------- */

  /* ---------- HEADER 2 ---------- */
  .header-2 .text-image {
    width: 70%;
  }
  
  .header-2 .header-image {
    width: 100%;
  }
  
  .header-2 .header-paragraph {
    width: 90%;
  }
  
  .header-2 .header-btn {
    margin-top: 3.5rem;
    padding: 1.4rem;
    width: 62.5%;
  }
  /* ---------- END OF HEADER 2 ---------- */

  /* ---------- HEADER 3 ---------- */
  .header-3 .row-video .konfio-text {
    width: 50%;
    padding-bottom: 2rem;
  }

  .header-3 .row-video .header-konfio-text-2 {
    width: 65%;
    margin-bottom: 2.5rem;
  }
  
  .header-3 .header-info p, .header-3 .header-info h2 {
    margin-top: 2rem;
  }
  
  .header-3 .header-info h2 {
    font-size: 2.5rem;
  }
  
  .header-3 .line {
    width: 125%;
    top: -15%;
    margin-right: -2.5rem;
  }

  .header-3 .line-2 {
    position: absolute;
    width: 125%;
    top: -5%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-right: -2.5rem;
  }
  
  .header-3 .video .bg-img {
    min-height: 20rem;
  }
  
  .header-3 .header-col-2 .row {
    min-height: 27.5rem;
  }
  /* ---------- END OF HEADER 3 ---------- */

  /* ---------- NAV TABS 1 ---------- */
  .tab-content-1 .tab-img {
    width: 60%;
  }

  .tab-content-1 .btn-create {
    margin-top: 10rem;
    width: 80%;
    padding: 0.7rem;
  }
  /* ---------- END OF NAV TABS 1 ---------- */

  /* ---------- SWIPER 1 ---------- */
  .my-section-1 .btn-create {
    width: 26%;
  }
  /* ---------- END OF SWIPER 1 ---------- */

  .hidden-btn-create {
    display: none !important;
  }

  .modal-iframe {
    width: 100%;
    height: 500px;
  }

  .section-h2 {
    font-size: 2.4rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* ---------- HEADER 1 ---------- */
  .header-1 .btn-create {
    width: 52%;
    padding: 1.2rem;
  }
  
  .header-1 iframe {
    width: 35rem;
    height: 19rem;
  }
  
  .header-1 p, .header-3 h2 {
    width: 90%;
  }
  
  .header-1 h1 {
    font-size: 1rem;
  }
    
  .header-1 h2 {
    font-size: 2.22rem;
  }
  
  .header-1 p {
    font-size: 1.1rem;
  }
  /* ---------- END OF HEADER 1 ---------- */

  /* ---------- HEADER 2 ---------- */
  .header-2 .text-image {
    width: 52.5%;
  }
  
  .header-2 .header-paragraph {
    width: 80%;
  }
  
  .header-2 .header-btn {
    padding: 1.1rem;
    width: 50%;
  }
  
  .header-2 .header-image {
    width: 75%;
  }
  /* ---------- END OF HEADER 2 ---------- */

  /* ---------- HEADER 3 ---------- */
  .header-3 .header-info {
    margin-top: 3rem;
  }
  
  .header-3 .header-info h2 {
    width: 85%;
  }
    
  .header-3 .header-btn {
    width: 40%;
  }

  .header-3 .line {
    top: -30%;
    width: 150%;
    margin-right: -6rem;
  }

  .header-3 .line-2 {
    top: -20%;
    width: 150%;
    margin-right: -6rem;
  }
  
  .header-3 .header-col-2 .row {
    min-height: 30rem;
  }

  .header-3 .row-video .header-konfio-text-2 {
    width: 70%;
    margin-bottom: 3.5rem;
  }
  /* ---------- END OF HEADER 3 ---------- */

  /* ---------- NAV TABS 1 ---------- */
  .nav-tabs-1 .nav-link {
    font-size: 0.9rem;
  }

  .tab-content-1 .tab-img {
    width: 37.5%;
  }
  
  .tab-content-1 .tab-pane p {
    font-size: 0.8rem;
  }
  
  .tab-content-1 .btn-create {
    width: 52.5%;
    padding: 0.6rem;
  }
  /* ---------- END OF NAV TABS 1 ---------- */

  /* ---------- NAVBAR ---------- */
  .konfio-logo {
    width: 8%;
    margin-right: 1rem;
  }

  .btn-purple-border {
    border: 1px solid rgba(110,67,183, 1);
  }
  
  .btn-purple-border:hover {
    background-color: lightgray;
  }

  .my-rounded-pill {
    border-radius: 1.5rem;
  }

  .navbar .nav-item .btn-sign-in,
  .navbar .nav-item .btn-sign-up {
    padding: 0.6rem 1.5rem;
  }

  .navbar .nav-item .btn-sign-up {
    background-color: rgba(110,67,183, 1);
    color: white !important;
    margin-left: 1rem;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    color: rgba(110,67,183, 1);
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(75, 47, 124);
  }
  /* ---------- END OF NAVBAR ---------- */

  /* ---------- SWIPER 1 ---------- */
  .swiper-1 .card {
    min-height: 16rem;
  }

  .my-section-1 .btn-create {
    width: 17.5%;
    padding: 0.6rem;
  }
  /* ---------- END OF SWIPER 1 ---------- */

  /* ---------- FORM 1 ---------- */
  .form-1 .form-btn {
    padding: 0.6rem;
  }
  /* ---------- END OF FORM 1 ---------- */

  .section-h2 {
    font-size: 2.2rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
