* {
  margin: 0%;
  padding: 0%;
}

/* COLORS */
.color-purple {
  color: rgba(110,67,183, 1);
}

.color-purple:hover {
  color: rgb(75, 47, 124);
}

.color-black {
  color: #222;
}

.color-black:hover {
  color: rgb(92, 92, 92);
}

.hover-purple:hover {
  color: rgb(75, 47, 124);
}
/* END OF COLORS */

/* BG COLORS */
.bg-purple {
  background-color: rgba(110,67,183, 1);
}

.bg-gray {
  background-color: #424242;
}
/* END OF BG COLORS */

/* CONFIG LINK */
.config-link {
  text-decoration: none;
}

.custom-nav-link {
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
/* END OF CONFIG LINK */

/* KONFIO LOGO */
.konfio-logo {
  width: 20%;
}

.konfio-logo-2 {
  width: 40%;
}

.konfio-logo-laptop {
  width: 10%;
}
/* END OF KONFIO LOGO */

/* STYLES OF SWIPER */
.swiper {
  height: 300px;
}

.swiper2 {
  height: 450px;
}

.swiper3 {
  height: 460px;
}

.swiper-pagination-bullet {
  background-color: #6e43b7;
  width: 0.8rem;
  height: 0.8rem;
}

.swiper-img {
  width: 85px;
  height: 85px;
}

.card-body {
  height: 250px;
}

.card-header-video {
  padding: 0%; 
  margin: 0%;
  border-bottom: none;
}

.card-header-video iframe {
  width: 100%;
  height: 100%;
}

.video-border {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
/* END OF STYLES OF SWIPER */

/* FOOTER */
.footer {
  margin-bottom: 15%;
}

.element-width-footer {
  width: 90%;
}

.element-width-footer-2 {
  width: 75%;
}

.img-width {
  width: 15%;
}

.terms {
  margin: auto;
}

.footer .direction {
  align-items: center;
}

.footer .direction .social-networks span {
  margin: 1rem 1rem 1rem 0rem;
  width: 30px;
  height: 30px;
  color: gray;
}
/* END OF FOOTER */

.circle-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6e43b7;
  border-radius: 50%;
}

.circle-item-2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.brightness-90:hover {
  filter: brightness(90%);
}

.close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-purple {
  background-color: #6e43b7;
  color: #ffffff;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  text-align: center;
  width: 80%;
}

.container-btn-purple {
  width: 100%;
  background-color: #ffffff; 
  display: flex; 
  justify-content: center; 
  padding: 1rem;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  z-index: 1000;
}

.hidden {
  display: none;
}

.btn-purple-border {
  border: 1px solid rgba(110,67,183, 1);
}

.btn-purple-border:hover {
  background-color: lightgray;
}

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* FOOTER */
  .footer .sub-footer div {
    width: 100%;
  }

  .element-width-footer-2 {
    width: 100%;
  }

  .img-width {
    width: 100%;
  }

  .terms {
    margin: 8rem auto auto auto;
  }
  /* END OF FOOTER */

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* MAIN */
  .main {
    margin-top: 2rem;
  }
  /* END OF MAIN */

  /* SWIPER */
  .swiper1 {
    width: 85%;
  }

  .swiper2 {
    height: 310px;
  }

  .main .swiper2-info {
    text-align: center;
  }

  .swiper2 .swiper-wrapper .swiper-slide .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .swiper2 .swiper-wrapper .swiper-slide .card .card-header {
    width: 25%;
  }

  .swiper2 .swiper-wrapper .swiper-slide .card .card-body {
    width: 75%;
    padding: 4rem;
  }

  .swiper3 {
    width: 90%;
  }
  /* END OF SWIPER */

  /* FOOTER */
  .footer .direction {
    align-items: unset;
  }

  .footer .direction .social-networks, .footer .direction p {
    width: 75%;
  }
  /* END OF FOOTER */
}


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
