/* ---------- HEADER ---------- */
.header-mobile-tablet__h1 {
  font-size: 1.5rem;
}

.header-laptop {
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ---------- END OF HEADER ---------- */

/* ---------- STEPS ---------- */
.steps__nav-link {
  background-color: transparent;
  border: 0px solid transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.steps__nav-link--purple-bottom-border {
  border-bottom: 3px solid #6e43b7 !important;
}
/* ---------- END OF STEPS ---------- */

/* ---------- INSTITUTIONS ---------- */
.institutions__link {
  width: 6rem;
  margin: 1rem;
}

.institutions__img {
  width: 100%;
  height: 100%;
}
/* ---------- END OF INSTITUTIONS ---------- */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* ---------- STEPS ---------- */
  .steps__img {
    width: 100%;
    height: 100%;
    margin-top: 1.2rem;
    border: 5px solid rgba(110,67,183, 1);
    border-radius: 1rem;
  }
  /* ---------- END OF STEPS ---------- */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  /* ---------- HEADER ---------- */
  .header-laptop__row {
    padding-bottom: 5rem;
  }

  .header-laptop__h1 {
    margin: 5rem 0rem;
    font-size: 3.5rem;
    text-align: start;
    width: 60%;
  }

  .header-laptop__h1, .header-laptop__btn {
    margin-left: 7rem;
  }

  .header-laptop__btn {
    padding: 1.3rem;
    width: 45%;
  }
  /* ---------- END OF HEADER ---------- */

  /* ---------- STEPS ---------- */
  .steps__info {
    margin-bottom: 3rem;
  }

  .steps__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .steps__nav-item {
    margin: 0.8rem 0rem;
  }

  .steps__btn {
    width: 50%;
    padding: 0.8rem;
    margin-top: 2rem;
  }

  .steps__tab-content {
    background-color: rgba(110,67,183, 1);
    border-radius: 1.5rem;
    color: #ffffff;
  }

  .steps__nav-link--no-bottom-border {
    border-bottom: unset !important;
  }
  /* ---------- END OF STEPS ---------- */
  
  /* ---------- INSTITUTIONS ---------- */
  .institutions__link {
    width: 9rem;
  }
  /* ---------- END OF INSTITUTIONS ---------- */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
