/* HEADER */
.header-laptop {
  display: none;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  margin: auto;
  text-align: center;
  width: 75%;
}
/* END OF HEADER */

/* NAV TABS */
.nav-tabs .nav-link {
  border: 0px solid transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-li {
  border-bottom: 3px solid #6e43b7 !important;
}

.nav-link-fs {
  font-size: 0.8rem;
}
/* END OF NAV TABS */

/* INSTITUTIONS */
.institution-logo {
  width: 6rem;
  margin: 1rem;
}

.institution-logo img {
  width: 100%;
  height: 100%;
}
/* END OF INSTITUTIONS */

/* STEPS */
main .steps .tab-content .tab-pane img {
  margin-top: 1.2rem;
}

.tab-pane-img-size {
  width: 100%;
  height: 100%;
}
/* END OF STEPS */

/* SOLUTIONS */
main .solutions .solution img {
  width: 100%;
}
/* END OF SOLUTIONS */

.purple-border {
  border: 5px solid rgba(110,67,183, 1);
  border-radius: 1rem;
}

h1 {
  font-size: 1.5rem;
}

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  /* HEADER */
  .header-laptop {
    display: block;
  }
  
  .header-laptop div {
    padding-bottom: 5rem;
  }

  .header-laptop h1 {
    margin: 5rem 0rem;
    font-size: 3.5rem;
    text-align: start;
    width: 60%;
  }

  .header-laptop .title-container h1, .header-laptop .title-container a {
    margin-left: 7rem;
  }

  .header-laptop .title-container a {
    padding: 1.3rem;
    width: 45%;
  }
  /* END OF HEADER */

  /* STEPS */
  main .steps .info {
    margin-bottom: 3rem;
  }

  main .steps .tab-content-container .nav-tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }

  main .steps .tab-content-container .nav-tabs li {
    margin: 0.8rem 0rem;
  }

  main .steps .tab-content-container .nav-tabs li a {
    padding: 0.8rem;
    width: 80%;
  }

  main .steps .tab-content-container .tab-content {
    background-color: rgba(110,67,183, 1);
    border-radius: 1.5rem;
    color: #ffffff;
  }

  .nav-item-li {
    border-bottom: unset !important;
  }
  /* END OF STEPS */
  
  /* INSTITUTIONS */
  .institution-logo {
    width: 9rem;
  }
  /* END OF INSTITUTIONS */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
