.header-laptop {
  display: none;
  background-image: url("../img/header-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-mobile-tablet {
  display: block;
}

.link-sign-up:hover {
  color: #ffffff;
}

.institution-logo {
  width: 30%;
}

.purple-border {
  border: 5px solid rgba(110,67,183, 1);
  border-radius: 1rem;
}

.hidden-img {
  display: none;
}

.hidden-text {
  display: block;
}

.hidden-btn-create-2 {
  display: none;
}

h1 {
  font-size: 1.5rem;
}

.title-container {
  height: 125px;
}

/* CUSTOM WIDTHS */
.width {
  width: 75%;
}
/* END OF CUSTOM WIDTHS */

/* HEADER */
.header {
  margin-top: 1.2rem;
}

.header h1 {
  margin: auto;
  text-align: center;
  width: 75%;
}
/* END OF HEADER */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .hidden-img {
    display: unset;
  }

  /* CUSTOM WIDTHS */
  .width {
    width: 60%;
  }
  /* END OF CUSTOM WIDTHS */
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .hidden-btn-create {
    display: none !important;
  }

  .hidden-btn-create-2 {
    display: block;
  }

  .hidden-text {
    display: none;
  }

  /* HEADER */
  .header-laptop {
    display: block;
    margin-top: 3rem;
  }

  .header-mobile-tablet {
    display: none;
  }  

  .header-laptop div {
    height: 100%;
    width: 100%;
    padding-bottom: 5rem;
  }

  .header-laptop h1 {
    margin: 5rem 0rem;
    font-size: 3.8rem;
    text-align: start;
    width: 60%;
  }

  .header-laptop .title-container h1, .header-laptop .title-container a {
    margin-left: 7rem;
  }

  .header-laptop .title-container a {
    padding: 1.3rem;
    width: 45%;
  }
  /* END OF HEADER */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
