  /* AUTOMATE REVENUE AND TIME */
  .automate-revenue-and-time .img-width {
    width: 25%;
  }
  /* END OF AUTOMATE REVENUE AND TIME */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* AUTOMATE REVENUE AND TIME */
  .automate-revenue-and-time .btn-create {
    padding: 0.7rem 1rem;
    width: 32.5%;
    margin-top: 2.5rem;
  }

  .automate-revenue-and-time .img-width {
    width: 17.5%;
  }
  /* END OF AUTOMATE REVENUE AND TIME */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* HEADER */
  header iframe {
    width: 100%;
    height: 80%;
  }

  header .btn-create {
    width: 50%;
    padding: 1.1rem;
  }
  /* END OF HEADER */

  /* COMING SOON */
  .coming-soon .sub-title {
    margin-bottom: 3rem;
  }

  .coming-soon .img-width {
    width: 80%;
    margin: auto 5rem auto auto;
    /* margin: auto; */
  }

  .coming-soon .p-bottom {
    margin-top: 2rem;
  }

  .coming-soon .btn-create {
    width: 55%;
    padding: 0.7rem 1rem;
  }
  /* END OF COMING SOON */

  /* AUTOMATE REVENUE AND TIME */
  .automate-revenue-and-time .btn-create {
    padding: 0.7rem 1rem;
    width: 25%;
    margin: unset;
  }

  .automate-revenue-and-time .img-width {
    width: 40%;
  }

  .automate-revenue-and-time h2 {
    font-size: 2.5rem;
  }
  /* END OF AUTOMATE REVENUE AND TIME */

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* COMING SOON */
  .coming-soon .btn-create {
    width: 40%;
  }

  .coming-soon .img-width {
    width: 55%;
  }
  /* END OF COMING SOON */

  /* AUTOMATE REVENUE AND TIME */
  .automate-revenue-and-time .btn-create {
    padding: 0.7rem 1rem;
    width: 17.5%;
    margin: unset;
  }

  .automate-revenue-and-time .img-width {
    width: 30%;
  }

  .automate-revenue-and-time h2 {
    font-size: 2.2rem;
  }
  /* END OF AUTOMATE REVENUE AND TIME */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }