
/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* HEADER */
  header iframe {
    width: 100%;
    height: 80%;
  }

  header .btn-create {
    width: 50%;
    padding: 1.1rem;
  }
  /* END OF HEADER */

  /* COMING SOON */
  .coming-soon .sub-title {
    margin-bottom: 3rem;
  }

  .coming-soon .img-width {
    width: 80%;
    margin: auto;
  }

  .coming-soon .p-bottom {
    margin-top: 2rem;
  }

  .coming-soon .btn-create {
    width: 55%;
    padding: 0.7rem 1rem;
  }
  /* END OF COMING SOON */

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* COMING SOON */
  .coming-soon .btn-create {
    width: 40%;
  }
  /* END OF COMING SOON */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }