/* PODCAST */
.swiper-podcast .card {
  min-height: 12.5rem;
}
/* END OF PODCAST */

/* LISTEN TO US */
.listen-to-us h2 {
  margin-bottom: 2rem;
}

.listen-to-us img {
  width: 8.5rem;
  margin: auto 1rem 1.5rem 1rem;
}
/* END OF LISTEN TO US */

/*
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* PODCAST */
  .swiper-podcast .card {
    min-height: 12.5rem;
  }

  .podcast .btn-create {
    margin-top: 2rem;
  }
  /* END OF PODCAST */

  /* LISTEN TO US */
  .listen-to-us img {
    width: 9rem;
  }
  /* END OF LISTEN TO US */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* PODCAST */
  .podcast .btn-create {
    margin-top: unset;
  }
  /* END OF PODCAST */

  /* LISTEN TO US */
  .listen-to-us h2 {
    margin-bottom: 2.5rem;
  }

  .listen-to-us img {
    width: 10rem;
  }
  /* END OF LISTEN TO US */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* LISTEN TO US */
  .listen-to-us img {
    width: 9.5rem;
  }
  /* END OF LISTEN TO US */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }