/* ---------- HEADER  ---------- */
.header-3 .row-video .konfio-text {
  width: 50%;
  margin-bottom: 1rem;
}
/* ---------- END OF HEADER  ---------- */

/* ---------- INFO SIR PAYMENTS  ---------- */
.info-sir-payments .card-subtitle {
  width: 75%;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
/* ---------- END OF INFO SIR PAYMENTS  ---------- */

/* WHY SIR PAYMENTS */
.why-sir-payments .card-img {
  width: 5rem;
}

.why-sir-payments .swiper-why-sir-payments .card {
  min-height: 12.5rem;
}
/* END OF WHY SIR PAYMENTS */

/* KONFIO AND MR PAYMENTS */
.konfio-mr-payments .card-img, .konfio-mr-payments .card-text {
  width: 10rem;
}

.konfio-mr-payments .card {
  min-height: 17.188rem;
}
/* END OF KONFIO AND MR PAYMENTS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* ---------- INFO SIR PAYMENTS  ---------- */
  .info-sir-payments .card-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  /* ---------- END OF INFO SIR PAYMENTS  ---------- */

  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .card {
    min-height: 16rem;
  }

  .konfio-mr-payments .card-text {
    width: unset;
  }
  /* END OF KONFIO AND MR PAYMENTS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ---------- INFO SIR PAYMENTS  ---------- */
  .info-sir-payments .card-subtitle {
    font-size: 2rem;
  }
  /* ---------- END OF INFO SIR PAYMENTS  ---------- */

  /* WHY SIR PAYMENTS */
  .why-sir-payments .swiper-why-sir-payments .card {
    min-height: 14.063rem;
  }

  .why-sir-payments .logo-web {
    padding: 0.8rem;
  }

  .why-sir-payments .card-img {
    width: 4rem;
    height: 4rem;
  }
  /* END OF WHY SIR PAYMENTS */

  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .btn-create {
    width: 25%;
    margin: auto;
    padding: 0.8rem;
  }
  /* END OF KONFIO AND MR PAYMENTS */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ---------- INFO SIR PAYMENTS  ---------- */
  .info-sir-payments .card-subtitle {
    font-size: 2.5rem;
  }
  /* ---------- END OF INFO SIR PAYMENTS  ---------- */

  /* WHY SIR PAYMENTS */  
  .why-sir-payments .logo-web {
    padding: unset;
  }
  /* END OF WHY SIR PAYMENTS */

  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .btn-create {
    width: 20%;
  }
  /* END OF KONFIO AND MR PAYMENTS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }