/* HEADER */
header .img-width {
  width: 75%;
  /* margin-top: 1rem; */
}
/* END OF HEADER */

/* SIR PAYMENTS INFO */
.info-sir-payments .card-subtitle {
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
}

.info-sir-payments .img-sir-payments {
  width: 12rem;
}
/* END OF SIR PAYMENTS INFO */

/* WHY SIR PAYMENTS */
.why-sir-payments .card-img {
  width: 5rem;
}

.why-sir-payments .swiper-why-sir-payments .card {
  min-height: 12.5rem;
}
/* END OF WHY SIR PAYMENTS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* HEADER */
  header .img-width {
    width: 50%;
    /* margin-top: 1rem; */
  }

  header .p-2 {
    width: 50%;
    margin: auto;
  }
  /* END OF HEADER */

  /* SIR PAYMENTS INFO */
  .info-sir-payments .card-subtitle {
    width: 80%;
    font-size: 2rem;
  }
  /* END OF SIR PAYMENTS INFO */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* HEADER */
  header .img-width {
    width: 100%;
    /* margin-top: 1rem; */
  }

  header .btn-create {
    width: 75%;
  }
  /* END OF HEADER */

  /* SIR PAYMENTS INFO */
  .info-sir-payments .card-subtitle {
    margin: unset;
    font-size: 2rem;
  }
  /* END OF SIR PAYMENTS INFO */

  /* WHY SIR PAYMENTS */
  .why-sir-payments .swiper-why-sir-payments .card {
    min-height: 14.063rem;
  }

  .why-sir-payments .logo-web {
    padding: 0.8rem;
  }

  .why-sir-payments .card-img {
    width: 4rem;
    height: 4rem;
  }
  /* END OF WHY SIR PAYMENTS */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* HEADER */
  header .img-width {
    width: 75%;
    /* margin-top: 1rem; */
  }

  header .btn-create {
    width: 50%;
  }
  /* END OF HEADER */

  /* SIR PAYMENTS INFO */
  .info-sir-payments .card-subtitle {
    font-size: 2.5rem;
  }
  /* END OF SIR PAYMENTS INFO */

  /* WHY SIR PAYMENTS */  
  .why-sir-payments .logo-web {
    padding: unset;
  }
  /* END OF WHY SIR PAYMENTS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }