/* ---------- GENERAL STYLE OF THIS PAGE  ---------- */
.card-subtitle, h2 {
  font-size: 1.5rem;
}
/* ---------- END OF GENERAL STYLE OF THIS PAGE  ---------- */

/* ---------- HEADER  ---------- */
.header-3 .row-video .konfio-text {
  width: 50%;
  margin-bottom: 1rem;
}
/* ---------- END OF HEADER  ---------- */

/* ---------- INFO SIR PAYMENTS  ---------- */
.info-sir-payments .card-subtitle {
  width: 75%;
  margin-bottom: 1.5rem;
}
/* ---------- END OF INFO SIR PAYMENTS  ---------- */

/* ---------- SUCCESS STORIES  ---------- */

.swiper-success-stories {
  margin-top: 1rem;
}

.swiper-success-stories .card-img {
  width: 100%;
}

.swiper-success-stories .card {
  min-height: 12.5rem;
}
/* ---------- END OF SUCCESS STORIES  ---------- */

/* KONFIO AND MR PAYMENTS */
.konfio-mr-payments .card-img, .konfio-mr-payments .card-text {
  width: 10rem;
}

.konfio-mr-payments .card {
  min-height: 17.188rem;
}
/* END OF KONFIO AND MR PAYMENTS */

/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ---------- GENERAL STYLE OF THIS PAGE  ---------- */
  .card-subtitle, h2 {
    font-size: 2rem;
  }
  /* ---------- END OF GENERAL STYLE OF THIS PAGE  ---------- */
  
  /* ---------- INFO SIR PAYMENTS  ---------- */
  .info-sir-payments .card-subtitle {
    margin-bottom: 2rem;
  }
  /* ---------- END OF INFO SIR PAYMENTS  ---------- */

  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .card {
    min-height: 16rem;
  }

  .konfio-mr-payments .card-text {
    width: unset;
  }
  /* END OF KONFIO AND MR PAYMENTS */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .btn-create {
    width: 25%;
    margin: auto;
    padding: 0.8rem;
  }
  /* END OF KONFIO AND MR PAYMENTS */
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ---------- GENERAL STYLE OF THIS PAGE  ---------- */
  .card-subtitle, h2 {
    font-size: 2.5rem;
  }
  /* ---------- END OF GENERAL STYLE OF THIS PAGE  ---------- */

  /* KONFIO AND MR PAYMENTS */
  .konfio-mr-payments .btn-create {
    width: 20%;
  }
  /* END OF KONFIO AND MR PAYMENTS */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }