/* ---------- PLANS ---------- */
.plans__p {
  margin: 2rem 0;
}
/* ---------- END OF PLANS ---------- */

/* ---------- WEWORK BENEFITS ---------- */
.wework-benefits__p {
  margin: 1.5rem 0;
}
/* ---------- END OF WEWORK BENEFITS ---------- */

/* ---------- ADD ADVANTAGES ---------- */
.add-advantages__description {
  margin: 2rem 0;
}
/* ---------- END OF ADD ADVANTAGES ---------- */




/*
X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* ---------- WEWORK BENEFITS ---------- */
.wework-benefits__p {
  margin: 2.5rem 0;
}
/* ---------- END OF WEWORK BENEFITS ---------- */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }